<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Boas-Vindas</title>
</head>

<body>
    <h4>Bem-Vindo(a)</h4>

    <div class="content">
        <button class="button">
            <a href="Listar">Equipamentos</a>
        </button>
        <button class="button">
            <a href="Chamado">Chamado</a>
        </button>
    </div>
</body>

</html>