<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>
    <form action="/Cadastro/add" method="post">
        <label>Nome:</label>
        <input type="text" name="nome">

        <label>Preco:</label>
        <input type="text" name="preco">

        <label>Numero de serie:</label>
        <input type="text" name="serial">

        <label>Data de fabricacao:</label>
        <input type="date" name="fabricacao">

        <label>Fabricante:</label>
        <input type="text" name="fabricante">

        <button type="submit">Enviar</button>
    </form>
</body>

</html>